$slider-bg: #ffffff;
$slider-active-bg: #b1b2b1;
$slider-border-color: #b1b2b1;
$slider-thumb-color: #ffffff;
$slider-thumb-border-color: #bfbfbf;
$slider-height: 4px;
$slider-max-width: 500px;
$slider-thumb-size: 20px;
$slider-border-width: 1px;
